@import './variables.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    margin: 0 0;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.menu-margin {
    height: 180px;
    margin-bottom: 2vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}