:root {
    --primary-color: #0D1B2A;
    --secondary-color: #1B263B;
    --tertiary-color: #415A77;
    --text: #E0E1DD;
    --sub-text: #778DA9;
    --text-on-background: #000;
    --background: #FFF;
    --background-variant: #E0E1DD;
}